html,html,
body    {

    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --footer-box-shadow: 0px 1px 32px -15px rgba(18,17,17,1);
    --footer-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --footer-font-size: 12px;
    --h00-size-mobile: 2.5rem;
    --h0-size-mobile: 2rem;
    --h1-size-mobile: 1.625rem;
    --h2-size-mobile: 1.375rem;
    --h3-size-mobile: 1.125rem;
    --h00-size: 3rem;
    --h0-size: 2.5rem;
    --h1-size: 2rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --h4-size: 1rem;
    --h5-size: 0.875rem;
    --h6-size: 0.75rem;
    --body-font-size: 0.875rem;
    --font-size-small: 0.75rem;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: var(--h1-size-mobile);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

/* Name Of App Heading and Title 
.app-heading {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    margin: .5em 0 .5em 0;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
*/

#save-share {
  width: auto;
  margin: 3em;
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.fa-save {
  color: red;
  object-fit: contain;
  position: relative;
}

.lotto-container img {
  width: 25px;
  height: 25px;
}
  

.lotto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

#app-heading > h1 {
  letter-spacing: .1rem;
  line-height: 50px;
  font-family: var(--footer-font-family);
}

h1 {
  font-size: var(--h1-size-mobile);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.number-generator {
    width: 300px;
    height: 200px;
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    
}

.number-generator > .bonusNumber {
    /*
    border: .1em solid red;
    border-radius: 50px;
    padding: .1em;
    background-color: red;
    */
    color: red;
    
   
}

.lotto-container {
    
    padding: .5em;
    border: .1em solid lightgrey;
}

.btn {
    width: 120px;
    height: 50px;
    color: white;
    border: none;
    padding: 1em;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    position: relative;
    font-weight: 900;
    font-size: larger;
    word-spacing: .2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: red;
}

@media screen and (min-width: 1400px) {
 .btn:hover {
    color: black;
  }

  a:hover {
    color: white;
  }
  
}

/* Footer Section */
footer {
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background: none; 
}

#footer-container   {
    padding: .5em;
    color: lightgrey;
}

#info-socials    {
    background-color: grey;
    display: grid;
    flex-direction: column;
    background-color: none;
}

#info-details {
    display: flex;
    flex-direction: column;
    position: relative;
}

.socials    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;

    color: lightgrey;
    gap: .5em;
    background-color: none;
}

.details    {
    display: flex;
    list-style: none;
    justify-items: start;
    color: lightgrey;
    gap: 10px;
    background-color: none;
}

a {
    text-decoration: none;
    color: lightgrey;
}




/* TEST HOVER POPUP */


    .icon:hover .popup {
    opacity: 6;
    display: block;
    width: 250px;
    margin-right: 200px;
  }
  
  .popup {
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 1px 20px;
    position: absolute;
    bottom: 100px;
    transition: all 0.25s ease;
    opacity: 0;
    display: none;
    box-shadow: var(--footer-box-shadow);
    animation: in-animation 0.25s ease;
    
  }

  .popup > p {
    color: black;
    
  }
  
  @keyframes in-animation {
    from { opacity: 0; }
    to   { opacity: 6; }
  }

    .icon .popup {
    margin-left: -109px;
    justify-content: flex-start;

  }

  /* img in about 
  .image-container {
    max-width: 200px;
    max-height: 100px;
    background-color: blueviolet;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-fit: contain;
  }
*/
  /*Disclaimer-popup*/

  .icon1:hover .disclaimer-popup {
    opacity: 6;
    display: block;
    width: 250px;
  }

  
  .disclaimer-popup {
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    font-size: var(--font-size-small);
    padding: 1px 20px;
    position: absolute;
    bottom: 100px;
    transition: all 0.25s ease;
    opacity: 0;
    display: none;
    box-shadow: var(--footer-box-shadow);
    animation: in-animation 0.25s ease;
  }

  

  .disclaimer-popup > p {
    color: black;
  }

  .icon1 .disclaimer-popup {
    margin-left: -28px;
    justify-content: flex-start;
  }

  span {
    color: red;
  }


  /*Whitepaper-popup*/

  .icon3:hover .whitepaper-popup {
    opacity: 6;
    display: block;
    width: 250px;
  }

  .whitepaper-popup {
    max-width: 250px;
    background-color: rgb(255, 255, 255);
    padding: 1px 20px;
    position: absolute;
    bottom: 100px;
    transition: all 0.25s ease;
    opacity: 0;
    display: none;
    box-shadow: var(--footer-box-shadow);
    animation: in-animation 0.25s ease;
  }

  .whitepaper-popup > p {
    color: black;
  }

  .icon3 .whitepaper-popup {
    margin-left: -160px;
    justify-content: flex-start;
  }